@import @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');

.customfont {
  font-family: 'Bitter', serif;


.Regular{
font-weight: 4400;
}

.RegularItalic{
font-weight: 400 italic;
font-style: italic;
}
.Bold{
font-weight: 700;
}
