@import @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');

.customfont {
  font-family: 'Bitter', serif;


.Regular{
font-weight: 400;
}

.RegularItalic{
font-weight: 400i;
font-style: Italic;
}
.Bold{
font-weight: 700;
font-style: Bold;
}
