
/* per student/font */


.font--opensans {
  background-color: black;
}

.font--opensans:hover {
  background-color: #4e606e;
}

.font--opensans a {
  color: #f5f5f5;
}

.font--opensans:hover a {
  color: #c4c4c4;
}

.font--ubuntu {
  background-color: #e95420;
}

.font--ubuntu:hover {
  background-color: #5e2750;
}

.font--ubuntu a {
  color: white;
}

.font--ubuntu:hover a {
  color: red;
}

.font--barlow {
  background-color: #00EBB6;
}

.font--barlow:hover {
  background-color: #00685E;
}

.font--barlow a {
    color: #fff;
}

.font--barlow:hover a {
    color: #fff;
}

.font--muktavaani {
    background: #e6824b;
    background: linear-gradient(130deg, #dc465a 0%, #e6824b 40%, #f0d264 100%);
}

.font--muktavaani:hover {
    background: linear-gradient(130deg, #f0d264 0%, #e6824b 60%, #dc465a 100%);
}

.font--muktavaani a {
    color: #fff;
}

.font--muktavaani:hover a {
    color: #fff;
}

.font--lato a {
  color: grey;
}

.font--lato:hover a {
  color: black;
}

.font--lato {
  background: linear-gradient(to left, #BDEFEB, #E5D0AE);
}

.font--lato:hover {
  background: linear-gradient(to left, #9ED8D6, #EFD895);
}

.font--rambla {
  background: linear-gradient(to right, #f08597, #ffde81);
}

.font--rambla:hover {
  background: linear-gradient(to right, #be6c7a, #cab169);
}

.font--faustina {
  background: linear-gradient(to right, #283048, #859398);
}

.font--faustina:hover {
  background: linear-gradient(to right, #859398, #283048);
}

.font--faustina a {
  color: white;
}

.font--bitter {
  background-color: #FFF857;
}

.font--bitter:hover {
  background-color: #5AE8FF;
}

.font--ibmplexsans {
  background-color: #000000;
}

.font--ibmplexsans:hover {
  background-color: #044ada;
}

.font--ibmplexsans a {
  color: white;
}

.font--ibmplexsans:hover a {
  color: white;
}

.font--raleway {
  background: linear-gradient(to right, #FC755D, #448AFC);
}

.font--raleway:hover {
  background: linear-gradient(to right, #ffb7aa, #a3c6ff);
}

.font--raleway a {
  color: black;
}

.font--roboto {
    background: linear-gradient(130deg, #FFAB00, #ED5228);
}

.font--roboto:hover {
    background: linear-gradient(130deg, #EF9900, #e43607);
}

.font--roboto a {
    color: white;
}

.font--roboto:hover a {
    color: black;
}

.font--cooperhewitt {
  background: linear-gradient(to right, #ff1a75, #00e6e6);
}

.font--cooperhewitt:hover {
  background: linear-gradient(to right, #ff0066, #009999);
}
