@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

.customfont {
  font-family: 'Opensans', sans-serif;
}

.Light {
  font-weight: 100;
}

.LightItalic {
  font-weight: 100;
  font-style: italic;

}

.Regular {
  font-weight: 300;
}

.RegularItalic {
  font-weight: 300;
  font-style: italic;

}

.Semi-Bold {
  font-weight: 400;
}

.Semi-BoldItalic {
  font-weight: 400;
  font-style: italic;

}

.Bold {
  font-weight: 700;
}

.BoldItalic {
  font-weight: 700;
  font-style: italic;

}

.Extra-Bold {
  font-weight: 900;
}

.Extra-BoldItalic {
  font-weight: 900;
  font-style: italic;

}
