@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.customfont {
  font-family: 'Raleway', sans-serif;
}

.Thin {
  font-weight: 100;
}

.ThinItalic {
  font-weight: 100;
  font-style: italic;

}

.ExtraLight {
  font-weight: 200;
}

.ExtraLightItalic {
  font-weight: 200;
  font-style: italic;

}

.Light {
  font-weight: 300;
}

.LightItalic {
  font-weight: 300;
  font-style: italic;

}

.Regular {
  font-weight: 400;
}

.RegularItalic {
  font-weight: 400;
  font-style: italic;

}

.Medium {
  font-weight: 500;
}

.MediumItalic {
  font-weight: 500;
  font-style: italic;

}

.SemiBold {
  font-weight: 600;
}

.SemiBoldItalic {
  font-weight: 600;
  font-style: italic;

}

.Bold {
  font-weight: 700;
}

.BoldItalic {
  font-weight: 700;
  font-style: italic;

}

.ExtraBold {
  font-weight: 800;
}

.ExtraBoldItalic {
  font-weight: 800;
  font-style: italic;

}

.Black {
  font-weight: 900;
}

.BlackItalic {
  font-weight: 900;
  font-style: italic;

}


#link {
  color: black;
  text-decoration: none;
  font-style: italic;
}

#link:hover {
  color: #FC755D;
}